@font-face {
    font-family: avenir;
    src: url("../assets/font/AvenirBlack.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir;

}

html,body{
    height: 100%;
}

.container {
    background-color: red;
    color: red;
    height: 100vh;
    width: 100vw;
}

.house{
    width: 50px;
    height: 50px;
    background-color: red;
}

  #map{
      height: 100%;
  }

.info{
    position: fixed;
    top: 14%;
    left: 4rem;
    z-index: 2;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.info .year{
    font-size: 6.4rem;
    font-weight: bold;
    opacity: 0.9;
    color: black;
}

/*Legend*/

.legenda-container{
padding: 0.5rem;
display: flex;
flex-direction: column;
}

.legenda-container .sub-container{
    display: flex;
    margin-bottom: 0.7rem;
    align-items: center;
}

.legenda-container div{
    display: inline-block;
}

.legenda-container span{
    display: inline-block;
    margin-left: 0.4rem;
}
